/******************************************************************
  STYLESHEET: scss/partials/_base.scss
******************************************************************/

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
